# Chapter 6
# Dictionary, Set and Frozen Set

## **Dictionary**

A dictionary in Python is a versatile and powerful data structure designed to store collections of data in a specific format: key-value pairs.

Think of it like a real-world dictionary. You have a word (the key), and its corresponding definition (the value). In Python, the keys act as unique identifiers for their associated values.

**Core Characteristics:**

- Key-Value Pairs: The fundamental building block. Each item consists of a key linked to its value.
- Mutable: Dictionaries can be modified after they are created. You can add, remove, or change key-value pairs.
- Unordered: The order in which you add items doesn't necessarily determine the order in which they are stored. (However, Python 3.7+ maintains insertion order)
- Keys are Unique: Each key within a dictionary must be unique. No duplicates are allowed.
- Flexible Data Types: Keys and values can be of different data types (strings, numbers, lists, even other dictionaries).

### **Creating Dictionaries**
You have two main ways:
1. Curly Braces `{}`

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

2. `dict()` constructor

In [ ]:
my_dict = dict(name="Bob", age=25, city="London")
print(my_dict)

{'name': 'Bob', 'age': 25, 'city': 'London'}

### **Accessing Values**

Use the key within square brackets `[]`:

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict["name"])  # Output: Alice

Alice

### **Common Dictionary Operations**

- Adding/Modifying:

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
my_dict["job"] = "Engineer"  # Adds a new key-value pair
my_dict["age"] = 31        # Modifies an existing value
print (my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York', 'job': 'Engineer'}

- Removing:

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
del my_dict["city"]        # Removes a key-value pair
print(my_dict)

{'name': 'Alice', 'age': 30}

- Checking Existence:

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
if "age" in my_dict:
    print("Age is present")

Age is present

- Iterating:

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
for key, value in my_dict.items():  # Iterate over key-value pairs
    print(f"{key}: {value}")

name: Alice
age: 30
city: New York

### Dictionary Methods

`keys()`

```
def keys(self) -> dict_keys:
```
- Parameters: None
- Return Type: dict_keys - A view object that displays a list of all the keys in the dictionary.

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

`values()`

```
def values(self) -> dict_values:

```
- Parameters: None
- Return Type: dict_values - A view object that displays a list of all the values in the dictionary.

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
values = my_dict.values()
print(values)

dict_values(['Alice', 30, 'New York'])

`items()`

```
def items(self) -> dict_items:

```

- Parameters: None
- Return Type: dict_items - A view object that displays a list of all the key-value pairs in the dictionary as tuples.

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
items = my_dict.items()
print(items)

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

`get()`

```
def get(self, key: Any, default: Any = None) -> Any:

```
- Parameters:
  - key (Any): The key to look for in the dictionary.
  - default (Any, optional): The value to return if the key is not found. The default value is None.
-Return Type: The value associated with the specified key if the key is in the dictionary; otherwise, the default value.

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
value = my_dict.get("age")
print(value)
value = my_dict.get("job")
print(value)
value = my_dict.get("job", "Not Found")
print(value)

30
None
Not Found

`pop()`

```
def pop(self, key: Any, default: Any = None) -> Any:

```

- Parameters:
  - key (Any): The key to be removed from the dictionary.
  - default (Any, optional): The value to return if the key is not found. The default value is None.
- Return Type: The value associated with the specified key if the key is in the dictionary; otherwise, the default value. If the default is not provided and the key is not found, a KeyError is raised.

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
value = my_dict.pop("age")
print(value)
print(my_dict)
value = my_dict.get("job")
print(value)
value = my_dict.get("job", "Not Found")
print(value)

30
{'name': 'Alice', 'city': 'New York'}
None
Not Found

`update()`

```
def update(self, other: Union[Dict[Any, Any], Iterable[Tuple[Any, Any]]]) -> None:

```
- Parameters:
  -- other (Union[Dict[Any, Any], Iterable[Tuple[Any, Any]]]): Another dictionary or an iterable of key-value pairs to update the dictionary with.
- Return Type: None

In [ ]:
my_dict = {"a": 1}
my_dict.update({"b": 2, "c": 3}) #update with elements from another dictionary
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

my_dict.update([("d", 4), ("e", 5)]) #update with elements from an iterable of key-value pairs
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
my_dict.update([["f", 7], ["g", 8]]) #update with elements from an iterable of key-value pairs
print(my_dict) # #update with elements from an iterable of key-value pairs

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 7, 'g': 8}

### **Why Use Dictionaries?**

- Efficient Lookup: Dictionaries are optimized for finding values based on their keys. This makes them excellent for tasks where you need quick access to data.
- Data Organization: They offer a structured way to group related information.
- Flexibility: The ability to use different data types for keys and values makes them adaptable to various scenarios.

### ExampleCounting Word Frequencies

In [ ]:
text = "This is a sample text to demonstrate word frequency counting."
word_counts = {}
for word in text.split():
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print(word_counts)

{'This': 1, 'is': 1, 'a': 1, 'sample': 1, 'text': 1, 'to': 1, 'demonstrate': 1, 'word': 1, 'frequency': 1, 'counting.': 1}

### Exercise 6.1

Assume we have the following students information
```
ID      Name       Midterm      Final     Project

12345   John         25           35        10
12346   Jane         26           34        12
12347   Marry        29           30        10
12348   Sam          18           24         8
```

Your tasks are:
1. Create a dictionary to store this information
1. Write a function to calculate total score of each student and add it to the dictionary.
1. Write a function to calculate grade of each student using the following criteria A" (90 or above), "B" (80-89), "C" (70-79), and "F" (below 70). Add this grade to the dictionary  
1. Print student information

Sample Output:

```
Student Information:
--------------------------------------------------
ID: 12345
Name: John
Midterm: 25
Final: 35
Project: 10
Total: 70
Grade: C
--------------------------------------------------
ID: 12346
Name: Jane
Midterm: 26
Final: 34
Project: 12
Total: 72
Grade: C
--------------------------------------------------
ID: 12347
Name: Marry
Midterm: 29
Final: 30
Project: 10
Total: 69
Grade: F
--------------------------------------------------
ID: 12348
Name: Sam
Midterm: 18
Final: 24
Project: 8
Total: 50
Grade: F
--------------------------------------------------
```

In [ ]:
#exercise 6.1
#your code here

## Set

In Python, a set is a built-in data type that represents an **unordered collection of unique elements**. Sets are **mutable**, meaning you can add or remove elements after a set has been created.

**Key Characteristics:**

- **Unordered**: Items in a set have no specific sequence or index. **You cannot access them by position**.
- **Unique**: Each element within a set must be distinct. Duplicates are automatically removed.
- **Mutable**: You can add or remove elements from a set after it's created.
- **Heterogeneous**: Sets can contain elements of different data types (e.g., integers, strings, floats).

### **Creating Sets:**

There are two main ways to create a set:

In [ ]:
# Using curly braces
my_set = {1, 2, 3, "apple", 3.14}

# Using the set() constructor
my_set2 = set([1, 2, 2, 3])  # Notice the duplicate '2' is removed

# Notice the duplicate 'p' is removed,
#in this case each characer is one element of the set since string is an
#iterable object
my_set3 = set("apple")
print(my_set)
print(my_set2)
print(my_set3)

{1, 2, 3.14, 3, 'apple'}
{1, 2, 3}
{'a', 'e', 'p', 'l'}

**A set can not contain iterable objects that are mutable data types**

In [ ]:
test = {[1,2,3,4], [5,6,7,8]} # This is not OK since list is mutable

TypeError: unhashable type: 'list'

In [ ]:
test = {(1,2,3,4), (5,6,7,8)} # This is OK since tuple is immutable
print(test)

{(1, 2, 3, 4)}

In [ ]:
a = 5
b = 6
test = {a,b}
print(test)

{5, 6}

**Why mutable objects are not allowed in a set**

**Hashing and Immutability:**

Sets rely on hashing to efficiently manage and locate their elements. **Hashing is the process of converting an object into a unique numerical value (a hash code) that represents that object. This hash code is used to index the element within the set's internal structure.**

To ensure consistent hashing and reliable element retrieval, the objects stored within a set must be immutable. **If an object's hash code were to change after being added to a set, the set would no longer be able to locate it correctly**. This would break the set's core functionality.

### Common Set Operations

- Adding Elements:

In [ ]:
my_set = {1, 2, 3, "apple", 3.14}
my_set.add("banana")
print(my_set)
my_set.add("banana") # The duplicated data will not be added
print(my_set)

{1, 2, 3.14, 3, 'apple', 'banana'}
{1, 2, 3.14, 3, 'apple', 'banana'}

- Removing Elements:

In [ ]:
my_set = {1, 2, 3, "apple", 3.14}
my_set.remove(2)
print(my_set)
my_set.remove(2) # Raises an error if the element doesn't exist

{1, 3.14, 3, 'apple'}

KeyError: 2

In [ ]:
my_set = {1, 2, 3, "apple", 3.14}
my_set.remove(2)
print(my_set)
my_set.discard(2)  # Safely removes the element, even if not present

{'apple', 1, 3.14, 3}

In [ ]:
my_set = {1, 2, 3, "apple", 3.14}
my_set.pop()  # Removes and returns a random element, raise Error if a set is empty
print(my_set)
my_set.clear()  # Removes all elements from the set
print(my_set)

{1, 2, 3.14, 3}
set()

- Membership Testing:

In [ ]:
my_set = {1, 2, 3, "apple", 3.14}
if "apple" in my_set:
    print("Apple is in the set")

Apple is in the set

- Iterating Through a Set:

In [ ]:
my_set = {1, 2, 3, "apple", 3.14}
for element in my_set:
    print(element)

1
2
3.14
3
apple

*Note:*

No indexing or slicing is allowed in Sets.

- Set Operations: Sets support mathematical operations like union, intersection, difference, and symmetric difference.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)         # {1, 2, 3, 4, 5}
print(union_set)
intersection_set = set1.intersection(set2)  # {3}
print(intersection_set)
difference_set = set1.difference(set2)  # {1, 2}
print(difference_set)
symmetric_difference_set = set1.symmetric_difference(set2)  # {1, 2, 4, 5}
print(symmetric_difference_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [ ]:
#use operator

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union
print(set1 | set2)  # Output: {1, 2, 3, 4, 5}

# Intersection
print(set1 & set2)  # Output: {3}

# Difference
print(set1 - set2)  # Output: {1, 2}

# Symmetric Difference
print(set1 ^ set2)  # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [ ]:
#More Mathematical Set Operations
set1 = {3, 4}
set2 = {3, 4, 5}
if set1.issubset(set2):
    print("Set1 is a subset of Set2")
if set1.issuperset(set2):
    print("Set1 is a superset of Set2")
if set1.isdisjoint(set2):
    print("Set1 and Set2 have no common elements")

Set1 is a subset of Set2

- Set Comprehensions:

Similar to list comprehensions, you can use set comprehensions to create sets.

In [ ]:
squared_set = {x**2 for x in range(10)}
print(squared_set)  # Output: {0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [ ]:
#use built-in Python's function with set
squared_set = {x**2 for x in range(10)}
print(len(squared_set)) # number of elements in a set
print(max(squared_set)) # maximum element in a set
print(min(squared_set)) # minimum element in a set
print(sum(squared_set)) # sum of elements in a set
print(sorted(squared_set)) # sorted elements in a set
sorted_squared_set = sorted(squared_set)
print(type(sorted_squared_set)) #the data type is list

10
81
0
285
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
<class 'list'>

### **When to use Sets:**

- Eliminate Duplicates: Quickly remove redundant items from a collection.
- Membership Testing: Efficiently check if an element exists within a large collection.
- Mathematical Set Operations: Perform operations like finding common elements or unique elements between collections.

### Exercise 6.2

From the following list of email addresses

```
email_list = [
    "alice@example.com", "bob@example.com", "charlie@example.com",
    "alice@example.com", "david@example.com", "bob@example.com",
    "eve@example.com", "frank@example.com", "eve@example.com"
]
```

Your task is to:
- Remove the duplicate email addresses.
- Identify and print the unique email addresses.
- Count and print how many unique email addresses are there.

Sample output

```
Unique email addresses:
eve@example.com
bob@example.com
alice@example.com
david@example.com
frank@example.com
charlie@example.com
Number of unique email addresses: 6
```

In [ ]:
#exercise 6.2
#your code here

## **Frozen Sets**

A frozenset in Python is an **immutable version of the built-in set type**. While a regular set is mutable, meaning you can add or remove elements from it, a frozenset is immutable and cannot be changed after it is created. This makes frozenset **hashable** and allows it to be **used as a key in dictionaries** or as an element in other sets, which is not possible with regular sets.

**Characteristics of frozenset**
- Immutable: Once a frozenset is created, you cannot add, remove, or change its elements.
- Hashable: Since it is immutable, a frozenset can be used as a key in a dictionary or as an element of another set.
- Unordered: Like sets, frozensets do not maintain any order of elements.
- No Duplicates: frozenset does not allow duplicate elements.

### **Creating a frozenset**

You create a frozen set using the built-in `frozenset()` function:

In [ ]:
# Empty frozen set
empty_set = frozenset()
print(empty_set)

# From a list
numbers = frozenset([1, 2, 3, 4])
print(numbers)

# From a string
chars = frozenset("hello")
print(chars)

# From a set
s = {1, 2, 3}
fs = frozenset(s)
print(fs)

frozenset()
frozenset({1, 2, 3, 4})
frozenset({'o', 'l', 'h', 'e'})
frozenset({1, 2, 3})

### **Operations on Frozen Sets**

Although you can't modify a frozen set directly, you can perform standard set operations like:

- `union()`
- `intersection()`
- `difference()`
- `symmetric_difference()`
- `issubset()`
- `issuperset()`
- `isdisjoint()`

In [ ]:
set1 = frozenset({1, 2, 3})
set2 = frozenset({3, 4, 5})

union_set = set1.union(set2)         # {1, 2, 3, 4, 5}
print(union_set)
intersection_set = set1.intersection(set2)  # {3}
print(intersection_set)
difference_set = set1.difference(set2)  # {1, 2}
print(difference_set)
symmetric_difference_set = set1.symmetric_difference(set2)  # {1, 2, 4, 5}
print(symmetric_difference_set)

frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})
frozenset({1, 2, 4, 5})

In [ ]:
#use operator

set1 = frozenset({1, 2, 3})
set2 = frozenset({3, 4, 5})

# Union
print(set1 | set2)  # Output: {1, 2, 3, 4, 5}

# Intersection
print(set1 & set2)  # Output: {3}

# Difference
print(set1 - set2)  # Output: {1, 2}

# Symmetric Difference
print(set1 ^ set2)  # Output: {1, 2, 4, 5}

frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})
frozenset({1, 2, 4, 5})

In [ ]:
#More Mathematical Set Operations
set1 = frozenset({3, 4})
set2 = frozenset({3, 4, 5})
if set1.issubset(set2):
    print("Set1 is a subset of Set2")
if set1.issuperset(set2):
    print("Set1 is a superset of Set2")
if set1.isdisjoint(set2):
    print("Set1 and Set2 have no common elements")

Set1 is a subset of Set2

### **Case Study using Frozen Sets**

**Managing User Permissions**

In [ ]:
#defining Permissions
ADMIN_PERMISSIONS = frozenset(["create_user", "delete_user", "edit_settings"])
EDITOR_PERMISSIONS = frozenset(["edit_content", "publish_content"])
VIEWER_PERMISSIONS = frozenset(["view_content"])

#Assigning Permissions to Users:
user_permissions = {
    "Alice": ADMIN_PERMISSIONS,
    "Bob": EDITOR_PERMISSIONS,
    "Carol": VIEWER_PERMISSIONS,
}

def has_permission(user, permission):
    return permission in user_permissions.get(user, frozenset()) #empty frozen set return False

# Example usage
if has_permission("Alice", "delete_user"):
  print("Alice has permission to delete a user.")
else:
  print("Alice has no permission to delete a user.")
    # Display error message

Alice has permission to delete a user.

**Why Frozen Sets Work Well Here**
- Immutability: Permissions are unlikely to change frequently, so making them immutable with frozen sets ensures consistency and prevents accidental modifications.
- Efficient Membership Testing: Checking if a user has a specific permission  is a fast operation with sets.

### Exercise 6.3

You are tasked with developing a system to manage course enrollments for students. Each student can enroll in multiple courses, but the **list of courses each student is enrolled in should not change once it is set**. **Use a frozenset to represent the courses each student is enrolled** in and perform various operations based on this data.

**Instructions**
1. Create a dictionary to store student names and their enrolled courses using frozenset.
1. Write a function enroll_student that takes the dictionary, a student name, and a list of courses, then adds the student and their courses to the dictionary.
1. Write a function find_students_in_course that takes the dictionary and a course name, and returns a list of students enrolled in that course.
1. Output the entire student_courses dictionary for clarity

Sample Input Data
```
'Alice', ['Math', 'Science', 'History']
'Bob', ['Math', 'Art', 'History']
'Charlie', ['Math', 'Science']
'Diana', ['Art', 'History']
```

Sample Output

```
Students enrolled in Math: ['Alice', 'Bob', 'Charlie']
{'Alice': frozenset({'History', 'Math', 'Science'}), 'Bob': frozenset({'History', 'Math', 'Art'}), 'Charlie': frozenset({'Math', 'Science'}), 'Diana': frozenset({'History', 'Art'})}
```

In [ ]:
#Exercise 6.3
#Your code here